  .acc_req_parent {
    height: 300px;
    max-height: 300px;
    overflow-y: auto;
    overflow-x: hidden;
    width: 100%;
    background: white;
    border: 1px solid black;
  }
  
  .acc_req_child {
    height: 35px;
    background: white;
    overflow: hidden;
    display: flex;
    align-items: stretch;
  }
  
  .acc_req_user_link {
    background: white;
    padding: 2px 5px;
    border-radius: 5px;
    color: black;
    font-weight: 700;
    text-decoration: auto;
    border: 1px solid black;
  }
  
  .acc_req_child img {
    display: block;
    height: 35px !important;
    width: 35px !important;
    object-fit: cover;
    padding-left: 5px;
  }
  
  .acc_req_child div {   	
    padding-left: 5px; 
  }
  
  .responsive-text {
    font-size: clamp(0.8rem, 1.8vw, 1.8rem);
   	/*font-size: calc(12px + 0.8rem); */
  }
  
  .passive-text {
   	opacity: 0.5;
    font-weight: 600;
  }
