#overlayptc,
.bca-footer-ads,
.button-24,
.button-61,
.button-7,
.overlayptc,
.t.srch,
a.button:not(.ln),
article.ntry:not(.ps):not(.post) {
    text-align: center;
}
.bca-footer-ads,
.button-15,
.button-24,
.button-61,
.button-7 {
    box-sizing: border-box;
}
.button,
.button-15,
.button-24,
.button-61,
.button-7,
.button-85,
.main-button {
    cursor: pointer;
    touch-action: manipulation;
}
.popup_ad,
.popup_greet {
    margin: 30px auto;
    padding: 20px;
    border-radius: 5px;
    max-height: 90%;
}
.popup_ad .close,
.popup_greet .close {
    transition: 0.2s;
    font-weight: 700;
    color: #fff;
}
.button-61,
.button-7 {
    outline: 0;
    user-select: none;
    color: #fff !important;
    -webkit-user-select: none;
}
.button-85:after,
.button-85:before {
    z-index: -1;
    content: "";
    position: absolute;
}
.button-61,
.button-7,
.popup_greet .content a,
.postBody a:hover:not(:has(img)):not([class]):not([style]),
a.button:not(.ln) {
    border-bottom: 3px solid wheat;
}
.cmCo,
.pbprandompost,
.postBody,
li,
li a,
span a {
    word-wrap: break-word;
}
.button-24,
.button-7 {
    text-rendering: geometricprecision;
}
.button-24,
.button-61,
.button-7 {
    min-height: 40px;
    vertical-align: middle;
    box-sizing: border-box;
}
.bca-cart-icon,
.button-15 {
    text-align: center;
    white-space: nowrap;
}
.button-15:hover,
.button-61,
.button-href,
.popup_ad .close,
.popup_greet .close {
    text-decoration: none;
}
#anchor-ad,
#mobile-menu {
    z-index: 100 !important;
}
.blogMn {
    z-index: 200;
}
.headCn {
    border-bottom: 2px solid #313338;
}
.cmBrs {
    z-index: 500;
}
#overlayptc,
.overlay_greet,
.overlayptc {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2000;
}
#overlayptc,
.overlayptc {
    display: none;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
}
@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    #overlayptc,
    .overlayptc {
        background-color: rgba(0, 0, 0, 0.5);
        backdrop-filter: blur(5px);
    }
}
.overlay_greet {
    bottom: 0;
    right: 0;
    background: rgba(0, 0, 0, 0.9);
    transition: opacity 0.5s;
    visibility: hidden;
    opacity: 0;
}
#notif-count,
.button-61,
.button-85,
.popup_ad,
.popup_greet {
    position: relative;
}
.overlay_greet:target {
    visibility: visible;
    opacity: 1;
}
.popup_ad {
    background: #333;
    width: 100%;
    max-width: 100%;
    height: 400px;
}
.popup_ad .close {
    position: absolute;
    top: 20px;
    right: 30px;
    font-size: 30px;
    background: #000;
    cursor: pointer;
}
.popup_ad .close:hover,
.popup_greet .close:hover {
    color: #06d85f;
}
.popup_greet {
    background: #171716;
    width: 80%;
    max-width: 340px;
    overflow: auto;
}
.popup_greet h2 {
    margin-top: 0;
    padding-right: 30px;
    color: #fff;
    font-family: Tahoma, Arial, sans-serif;
}
.popup_greet .close {
    position: absolute;
    top: 25px;
    right: 20px;
    font-size: 60px;
    height: 40px;
    text-shadow: 5px 5px #000;
    pointer-events: none;
    cursor: pointer;
}
.popup_greet .content {
    padding-top: 10px;
    padding-left: 10px;
    max-height: 250px;
    height: auto;
    color: #fff;
    overflow-y: scroll;
    overflow-x: hidden;
}
@media screen and (max-width: 700px) {
    .box {
        width: 80%;
    }
    .popup_greet {
        width: 340px;
    }
}
.pInf.pSml.ps {
    margin: 10px 0 0;
    padding: 10px 0 0;
    border-top: 1px ridge rgba(255, 255, 255, 0.5);
    border-bottom: 1px ridge rgba(255, 255, 255, 0.5);
    display: none;
}
.blogPts article.ntry .pCntn .pInf.pSml {
    display: none;
}
.widget.Blog .blogPts article.ntry:not(.ps.post),
article.itm {
    box-shadow: 0 10px 40px rgb(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
    border: 1px solid rgba(255, 255, 255, 0.2);
}
a.button:not(.ln) {
    background: #204ecf !important;
    text-decoration: none !important;
    height: 40px;
    font-size: 16px;
}
b {
    font-weight: 800 !important;
}
u {
    -webkit-text-underline-position: under;
    -ms-text-underline-position: below;
    text-underline-position: under;
}
div.psImg.grImg,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
p.note,
td,
tr {
    margin: 2px !important;
}
div.psImg.grImg {
    margin-bottom: -20px;
}
.ntry .pThmb,
div.separator {
    margin: 0;
}
div.zmImg a {
    height: 100% !important;
    margin: 0 !important;
}
#Blog1,
.white_content h4,
div.zmImg {
    margin: 0 auto;
}
table div.zmImg {
    align-items: center;
    justify-content: center;
}
table::-webkit-scrollbar {
    display: none;
}
table {
    vertical-align: text-top;
    -ms-overflow-style: none;
    scrollbar-width: none;
}
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: #5cc0ff;
    border-radius: 10px;
}
::-webkit-scrollbar-thumb:hover {
    background: #47b9ff;
}
.postBody div.tbHd.scrlH label {
    background: #101010;
    color: #fff;
    cursor: pointer;
}
.postBody div.psImg.grImg div.separator img,
.postBody div.separator img {
    display: block;
}
.postBody div.psImg.grImg div.zmImg.s img,
.postBody div.zmImg.s img {
    width: 100%;
    min-height: 600px;
    object-fit: contain;
}
@media only screen and (max-width: 600px) {
    .ptc-snaps {
        max-height: 200px;
        overflow-y: auto;
    }
    .ptc-gallery {
        background: #000;
        width: 100%;
        aspect-ratio: 1/1;
    }
}
@media only screen and (min-width: 601px) {
    .ptc-snaps {
        max-height: 300px;
        overflow-y: auto;
        text-align: center;
    }
    .ptc-gallery {
        background: #000;
        width: 100%;
        aspect-ratio: 16/9;
    }
}
.ptc-snaps div {
    display: inline-block;
    max-height: 65px;
    max-width: 65px;
    margin: 2px;
    overflow: hidden;
    animation: 5s fadeIn;
}
.ptc-snaps img {
    cursor: pointer;
    min-height: 55px;
    object-fit: cover;
}
.ptc-snaps div:focus {
    opacity: 0.7;
}
.button-7 {
    background: #ff4742;
    border: 1px solid #ff4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    display: inline-block;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    padding: 12px 14px;
    text-transform: none;
    margin-bottom: 20px;
}
.button-24 small,
.button-7 small {
    font-weight: 400;
    padding-right: 5px;
    text-align: left;
}
.button-24:active,
.button-24:hover,
.button-7:active,
.button-7:hover {
    background-color: initial;
    background-position: 0 0;
    color: #ff4742;
}
.button-24:active,
.button-7:active {
    opacity: 0.5;
}
.button-61 {
    align-items: center;
    appearance: none;
    border-radius: 4px;
    border-style: none;
    box-shadow:
        rgba(0, 0, 0, 0.2) 0 3px 1px -2px,
        rgba(0, 0, 0, 0.14) 0 2px 2px 0,
        rgba(0, 0, 0, 0.12) 0 1px 5px 0;
    display: inline-flex;
    font-family: Roboto, sans-serif;
    font-size: 0.875rem;
    font-weight: 500;
    justify-content: center;
    letter-spacing: 0.0892857em;
    line-height: normal;
    min-width: 64px;
    overflow: visible;
    padding: 0 16px;
    text-transform: uppercase;
    transition: box-shadow 280ms cubic-bezier(0.4, 0, 0.2, 1);
    will-change: transform, opacity;
    margin-bottom: 5px;
    height: auto !important;
}
.button-24,
.button-85 {
    user-select: none;
    outline: 0;
    -webkit-user-select: none;
}
.button-61:focus,
.button-61:hover {
    box-shadow:
        rgba(0, 0, 0, 0.2) 0 2px 4px -1px,
        rgba(0, 0, 0, 0.14) 0 4px 5px 0,
        rgba(0, 0, 0, 0.12) 0 1px 10px 0;
}
.button-61:disabled {
    background-color: rgba(0, 0, 0, 0.12);
    box-shadow:
        rgba(0, 0, 0, 0.2) 0 0 0 0,
        rgba(0, 0, 0, 0.14) 0 0 0 0,
        rgba(0, 0, 0, 0.12) 0 0 0 0;
    color: rgba(0, 0, 0, 0.37);
    cursor: default;
    pointer-events: none;
}
.button-61:not(:disabled) {
    background-color: #6200ee;
}
.button-61:active {
    box-shadow:
        rgba(0, 0, 0, 0.2) 0 5px 5px -3px,
        rgba(0, 0, 0, 0.14) 0 8px 10px 1px,
        rgba(0, 0, 0, 0.12) 0 3px 14px 2px;
    background: #a46bf5;
}
#articlesmidpost div:not([id]):not([class]),
.pCmnts,
.pCntn .pSnpt,
.pHdr.pSml,
.pSh {
    display: none;
}
.button-85 {
    padding: 0.6em 2em;
    border: none;
    color: #fff;
    background: #111;
    z-index: 0;
    border-radius: 10px;
}
.hmLnk,
.nwLnk,
.olLnk,
blockquote {
    background: #252526 !important;
}
p.update,
span.comFeed {
    border-radius: 15px;
    color: #fff;
}
.black_overlay,
.cmShw,
.white_content {
    display: none;
    position: fixed;
}
.button-85:before {
    background: linear-gradient(45deg, red, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, red);
    top: -2px;
    left: -2px;
    background-size: 400%;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: 20s linear infinite glowing-button-85;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
}
@keyframes glowing-button-85 {
    0%,
    100% {
        background-position: 0 0;
    }
    50% {
        background-position: 400% 0;
    }
}
.button-85:after {
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
}
.cmShw {
    left: 50%;
    transform: translate(-50%, 0);
    top: 75%;
    opacity: 1;
}
.postBody button {
    appearance: none;
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
}
.postBody a:not([class]):not(:has(*)) {
    font-weight: 600 !important;
    margin: 3px !important;
    text-decoration: none !important;
    cursor: pointer !important;
    color: #26dbfe;
}
.postBody a:hover {
    opacity: 1 !important;
}
p.note.wr a {
    color: #000 !important;
}
.iCtnt {
    background-color: transparent !important;
}
details div.box {
    width: 100%;
    height: 250px;
    max-height: 250px;
    padding: 10px;
    border-radius: 10px;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.3), rgba(255, 255, 255, 0.5) 90%);
    overflow: auto;
    font-size: 16px;
}
span.comFeed {
    font-weight: 700;
    margin: 10px;
    padding: 0 5px;
    background: #93030e;
    font-size: 16px;
}
p.update {
    margin: 5px;
    padding-left: 10px;
    background: rgba(0, 0, 0, 0.3);
    font-size: 18px;
}
.cmBrs {
    overflow: hidden;
    background: 0 0 !important;
}
.relatedX {
    width: 100%;
}
.relatedX img {
    display: flex;
    width: 150px !important;
    height: 100px !important;
    padding: 5px;
    object-fit: cover;
    border-radius: 10px;
}
.relatedX a {
    margin: 0;
    font-size: 14px;
    width: 150px !important;
}
.relatedX p {
    margin: 0;
    font-size: 14px;
}
.black_overlay {
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    -moz-opacity: 0.8;
    opacity: 0.8;
    z-index: 1000;
}
.white_content {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    max-height: 400px;
    padding: 16px;
    border: 16px solid #000;
    background-color: #1e1e1e;
    z-index: 1002;
    overflow-x: hidden;
    overflow-y: auto;
}
#notif-count {
    top: -10px;
    right: 10px;
    background: red;
    color: #fff;
    padding: 5px;
    border-radius: 10px;
    font-size: 14px;
}
.notif-block {
    display: block;
    width: 100%;
    padding: 10px;
    height: auto;
    margin-bottom: 5px;
    font-size: 14px;
    background: rgba(255, 255, 255, 0.1);
}
.button-24,
.notif-block * {
    display: inline-block;
}
.unread-notif {
    background: red;
    margin-right: 5px;
    border-radius: 5px;
    padding: 0 5px;
}
.no-scroll {
    height: 600px !important;
    overflow: hidden;
}
#FeaturedPost1 {
    margin: 0 auto 5px;
    padding: 0;
}
.cmBri,
.widget.HTML {
    margin-top: 10px !important;
}
.blogCont,
.cmBrs {
    padding: 0;
}
.widget.FeaturedPost .thmb {
    height: 200px;
}
.postBody {
    margin: 0 !important;
    line-height: 1.6rem;
    color: #b8c6cb !important;
}
#main-widget {
    margin-top: 20px !important;
}
header {
    position: sticky;
    border-bottom: 0;
}
div,
p {
    word-wrap: break-word !important;
}
.t.srch {
    font-size: 24px;
}
#HTML5,
.blogM,
.blogTtl.hm {
    margin-top: 15px;
}
blockquote {
    padding: 20px;
    border-left: 7px solid #7b3f11 !important;
    opacity: 1;
    color: wheat;
}
.button-24 {
    background: #ff4742;
    border: 1px solid #ff4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    color: #fff;
    font-family: nunito, roboto, proxima-nova, "proxima nova", sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    padding: 12px 14px;
    text-transform: none;
    margin-bottom: 20px;
}
a > img.home-profile {
    object-fit: cover;
    margin-right: 5px;
    width: 32px !important;
    height: 32px !important;
    border-radius: 10px;
}
.bca-cart-icon {
    width: 20px;
    height: 20px;
    background: red;
    color: #fff;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    top: -7px;
    left: 15px;
    position: absolute;
    z-index: 100;
    display: none;
    font-size: 14px;
}
.button-href,
ul.header-menu li {
    display: inline-block;
    border-radius: 10px;
}
ins.adsbygoogle[data-ad-status="unfilled"] {
    display: none !important;
}
a.nav-href-shortcut {
    display: flex;
    align-items: center;
    background: 0 0;
    padding: 3px 5px;
    color: #eee;
    font-size: 12px;
    box-shadow: 1px 1px 5px 1px #0b0b0b;
    border-radius: 5px;
    font-weight: 600;
    margin: 5px;
    text-transform: uppercase;
    height: 25px;
    border: 1px solid #373737;
}
div.small-ads,
div.square-ads,
div.tall-ads {
    display: block;
    width: 100%;
}
div.small-ads {
    height: 90px;
}
div.square-ads {
    height: 300px;
}
div.tall-ads {
    height: 600px;
}
.bca-card-shadow {
    box-shadow: 0 10px 40px rgb(0, 0, 0, 0.7);
    border-radius: 10px;
    padding: 10px;
}
ul.header-menu {
    padding: 5px 15px;
}
ul.header-menu li {
    background-image: linear-gradient(to right, #000, #212121);
    margin-bottom: 5px;
}
ul.header-menu li a {
    color: #fff !important;
    text-decoration: underline !important;
    padding: 5px 15px;
    font-size: 18px;
    width: 48px !important;
    height: 48px !important;
    border-radius: 14px;
}
.blogTtl {
    margin: 3px;
}
.button-href img {
    width: 25px;
    height: 25px;
    display: inline-block !important;
    vertical-align: middle !important;
    border-radius: 50%;
}
.button-href {
    font-weight: 700;
    background: #7200b1;
    padding: 5px;
    color: #fff !important;
    margin: 3px;
}
.header-user-profile {
    position: static;
    width: 32px;
    height: 32px;
    border-radius: 15px;
}
.header-user-profile img {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: 2px solid #fff;
    object-fit: cover;
}
.header-user-profile .content {
    position: absolute;
    display: none;
    border: 1px solid #000;
    right: 0;
    top: 20px;
    z-index: 30;
    font-size: 16px;
    padding: 10px;
    width: max-content;
    border-radius: 10px;
}
.header-user-profile .content button {
    all: unset;
    width: 90%;
    padding: 5px;
    border-top: 1px solid #fff;
}
.header-user-profile .content button[disabled] {
    text-decoration: line-through;
    color: gray;
}
.header-user-profile .content button:hover {
    color: gray;
}
.header-user-profile:hover .content {
    display: block;
    text-align: left;
    background: #000;
}
.ql-editor,
.ql-toolbar {
    background: #fff;
    color: #000;
}
.button,
.button-15,
.main-button {
    background-image: linear-gradient(#42a1ec, #0070c9);
    border: 1px solid #07c;
    border-radius: 4px;
    color: beige !important;
    direction: ltr;
    display: block;
    letter-spacing: -0.022em;
    line-height: 1.47059;
    min-width: 30px;
    overflow: visible;
    padding: 4px 15px;
    vertical-align: baseline;
    user-select: none;
    -webkit-user-select: none;
    margin: 5px;
}
.button-15:disabled {
    cursor: default;
    opacity: 0.7;
}
.button,
.button-15:hover,
.main-button {
    background-image: linear-gradient(#51a9ee, #147bcd);
    border-color: #1482d0;
}
.button,
.button-15:active,
.main-button {
    background-image: linear-gradient(#3d94d9, #0067b9);
    border-color: #006dbc;
    outline: 0;
}
.button-15:focus {
    box-shadow: rgba(131, 192, 253, 0.5) 0 0 0 3px;
    outline: 0;
}
.inputbox_style {
    color: #fff;
    background: #000;
    border: 1px solid rgba(255, 255, 255, 0.6);
    min-width: 90%;
    font-size: 24px;
}
.bca-footer-ads {
    height: 120px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    position: fixed;
    bottom: 0;
    z-index: 100;
    left: 0;
    align-items: flex-end;
    visibility: hidden;
}
.bca-ads-center {
    display: block;
    text-align: center;
    width: 100%;
}
