  .parent {
    display: flex;
    flex-direction: column;
    width: 95%;
    background: beige;
    border: 1px solid darkgray;
    padding: 5px;
  }
  
  .child {
   	display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  div.child span {
    font-size: 1rem;
    line-height: 0.8rem;
    text-align: center;
    font-weight: 550; 
  }
  
progress::-moz-progress-bar { background: beige; }
progress::-webkit-progress-value { background: beige; }
progress { color: beige; }
